<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Scan Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="signed" class="signed">
    <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
  </div>
  <div class="ion-text-center" *ngIf="error">

    <p class="ion-margin-bottom ion-padding-bottom ion-text-center">
      <ion-note color="danger">
        An error Occurred, Try the scan again
      </ion-note>
    </p>
    <!-- <p text-center>
      Customer QRCode
    </p>
    <ion-item lines="none">
      <ion-input type="text" [(ngModel)]="qrcode" disabled></ion-input>
    </ion-item> -->




    <div class="ion-padding-top">
      <ion-button expand="block" class="custom-button" (click)="startScanner()">
        Scan Code
      </ion-button>
    </div>
  </div>
</ion-content>
