<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{lectureId}} Attendance</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showSummary" (click)="showSummary = true">
        <span>Summary</span>
      </ion-button>
      <ion-button *ngIf="showSummary" (click)="showSummary = false">
        <span>History</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="!showSummary; else summary">

    <ion-list [hidden]="!showHistory" lines="full">
      <ng-container *ngIf="attendanceHistory | async as attendanceH">
        <ion-item *ngFor="let history of attendanceH" (click)="lectureHistory(history)">
          <ion-label>
            <h3>{{(history.date.seconds * 1000) | date}}</h3>
            <p>
              View Attendance
            </p>
          </ion-label>
        </ion-item>
        <ng-container *ngIf="!attendanceH || attendanceH.length === 0">
          <ion-item>
            <ion-label>
              <h3 class="ion-text-center">No Data found</h3>
            </ion-label>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>
    <ion-list *ngIf="!showHistory" lines="full">
      <ion-item-divider sticky>
        <ion-label>
          Attendance for {{(title.seconds * 1000) | date}}
        </ion-label>
        <ion-button slot="end" (click)="showHistory = true" color="danger" fill="clear">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-item-divider>

      <ng-container *ngIf="assignedAttendees.length > 0; else noData">
        <ion-item *ngFor="let attendee of assignedAttendees">
          <ion-label>
            <h3>{{attendee.name}}</h3>
            <p>
              {{attendee.idNumber}}
            </p>
          </ion-label>
          <ion-badge *ngIf="attendee.state; else absent" color="success" slot="end">Present</ion-badge>
          <ng-template #absent>
            <ion-badge color="danger" slot="end">Absent</ion-badge>
          </ng-template>
        </ion-item>
      </ng-container>
      <ng-template #noData>
        <ion-item>
          <ion-label>
            <h3 class="ion-text-center">No Data found</h3>
          </ion-label>
        </ion-item>
      </ng-template>

      <!-- <ion-item>
        <ion-label>
          <h3>Petter Pan</h3>
        
        </ion-label>
        <ion-badge color="danger" slot="end">Absent</ion-badge>
      </ion-item> -->
    </ion-list>

  </ng-container>
  <ng-template #summary>

    <ion-list>

      <ion-item-divider sticky>
        <ion-label>
          Attendance Summary
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let att of attendanceSummary">
        <ion-label>
          <h3>{{att.name}}</h3>
        </ion-label>
        <ion-text slot="end">{{att.total}}/{{att.totalAttendance}}</ion-text>
      </ion-item>
    </ion-list>
  </ng-template>


</ion-content>